html, body { font-size: 16px; }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.bold > a {
  font-weight: bold;
}

/* Navigation */
.button-collapse {
  cursor: pointer;
}

.dropdown-content {
  list-style: none;
  line-height: normal;
  width: 200px;
  clear: both;
  text-align: center;
}

ul.dropdown-content li a, .collapsible-body li a {
  color: #00bcd4;
}

#external-links li {
  clear: none;
  float: left;
  width: 33.33%;
}

#personal-info img {
  width: 180px;
  margin: 10px;
  border: 1px solid black;
}

img.circle.profile {
  width: 32px;
  vertical-align: middle;
}

.dropdown-content li.active, .dropdown-content a.active, .collapsible-body li.active, .collapsible-body a.active {
  background-color: #00bcd4;
  color: #fff;
}

ul.side-nav {
  overflow: hidden;
}

ul.side-nav li {
  line-height: 50px;
}

ul.side-nav li a {
  line-height: 50px;
  height: 50px;
}

ul.side-nav ul.collapsible-accordion {
  background-color: #FFF;
}

.collapsible-body li a i {
  float: left;
  margin-right: 0.3em;
  line-height: 50px;
  height: 50px;
  vertical-align: bottom;
}

li.profile:hover {
  cursor: default;
}

.page-footer li {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.page-footer a {
  color: inherit;
}

.page-footer a:hover {
  color: #ddd;
}

.larger-text {
  font-size: 150%;
}
