body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

/* Navigation */
.button-collapse {
  cursor: pointer;
}

#top-nav img {
  width: 32px;
  vertical-align: middle;
}

ul.side-nav {
  overflow: hidden;
}

.bold > a {
  font-weight: bold;
}

ul.side-nav li a i {
  float: left;
}

#external-links {
  list-style: none;
  line-height: normal;
  width: 200px;
  clear: both;
  overflow: auto;
}

#external-links li {
  clear: none;
  float: left;
  width: 33.33%;
}

#personal-info {
  width: 200px;
  text-align: center;
}

#personal-info img {
  width: 180px;
  margin: 10px;
  border: 1px solid black;
}

li.profile:hover {
  cursor: default;
}
