<header>

  <ul id="external-links" class="dropdown-content">
    <li><a href="https://github.com/jeremyramin" class="center purple-text"><i class="fa">&#xf09b;</i></a></li>
    <li><a href="https://www.linkedin.com/in/ebneyaminj" class="center blue-text"><i class="fa">&#xf0e1;</i></a></li>
    <li><a href="#!" class="center red-text"><i class="fa">&#xf167;</i></a></li>
  </ul>

  <ul id="personal-info" class="dropdown-content">
    <li class="profile"><img class="center" src="/img/profile-256x256.png"></li>
    <li><div class="divider"></div></li>
    <li><a href="/about" class="center">About Me</a></li>
    <li><a href="/contact" class="center">Contact Me</a></li>
  </ul>
  <nav class="" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Jeremy Ebneyamin</a>
      <a data-activates="nav-mobile" class="button-collapse"><i class="fa">&#xf0c9;</i></a>

      <ul id="top-nav" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" data-activates="external-links" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-gutter="-70"><i class="fa">&#xf00a;</i></a></li>
        <li><a class="dropdown-button" data-activates="personal-info" data-beloworigin="true" data-hover="true" data-constrainwidth="false" data-gutter="-70"><img class="circle profile" src="/favicon-194x194.png"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-fw">&#xf007;</i>Profile</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="/about" class=""><i class="fa fa-fw">&#xf21b;</i>About</a></li>
                  <li><a href="/contact" class=""><i class="fa fa-fw">&#xf0e0;</i>Contact</a></li>
                  <li><a href="#!" class=""><i class="fa fa-fw">&#xf15c;</i>Resume</a></li>
                </ul>
              </div>
            </li>
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-fw">&#xf08e;</i>External Links</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="https://github.com/jeremyramin" class="purple-text"><i class="fa fa-fw">&#xf09b;</i>GitHub</a></li>
                  <li><a href="https://www.linkedin.com/in/ebneyaminj" class="blue-text"><i class="fa fa-fw">&#xf08c;</i>LinkedIn</a></li>
                  <li><a href="#!" class="red-text"><i class="fa fa-fw">&#xf167;</i>Youtube</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </nav>
</header>
